@model IEnumerable<MVC_Blog.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}

<h2>Blog Listesi</h2>

   
           @foreach (var item in Model)
           {<br />
               <div class="blog">
    <h3 class="page-header">@item.BlogAdi</h3>
    <p>
        <span class="glyphicon glyphicon-time"></span>
        @item.EklenmeTarihi
    </p><hr />
    <img class="img-responsive" width="100%"  src="http://placehold.it/900X300" alt="" />
    <HR />
    <p>@item.BlogKonu</p>
@Html.ActionLink("Daha Fazla...","Details","Blog",new { id = item.Id}, new { @class="btn btn-primary"})
                   </div>} 
         
      @section SagKolon{
          @Html.Partial("Search")
          @{ Html.RenderAction("KategoriList", "Kategori");}
           <!-- Side Widget -->
           <div class="card my-4">
               <h5 class="card-header">Side Widget</h5>
               <div class="card-body">
                   You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
               </div>
           </div>
       }
   
